python-dotenv
numpy
scipy
sounddevice

openai-whisper
torch
ffmpeg-python

googletrans

langchain
langchain-core
langchain-community
langchain-classic
langchain-text-splitters

chromadb
langchain-chroma

langchain-huggingface
sentence-transformers

langchain-mistralai

pydantic
tqdm